<%- include('partials/header', {title: 'Home'}) -%>
<h1>Fridge List</h1>
<form action="/" method="POST">
  <input type="text" name="newItem" placeholder="Start typing here..." id="newItem">
  <button type="submit" value="addItem">Add item</button>
</form>
<div>
  <ul>
    <% list.reverse().forEach((item) => {%>
      <li class="pantryItem" id="<%=item.id%>"><%=item.name%> - <%=item.quantity%> <br> 
        <a href="/pantry/<%=item.id%>/edit"><span class="pantryBtn" id="edit">Edit</span></a> | <span class="pantryBtn" id="delete">Delete</span></li>
    <% })%>
  </ul>
</div>
<%- include('partials/footer') -%>